.page {
  height: 100%;
  font-family: var(--main-font);
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: var(--base-black);

  picture,
  source {
    display: contents;
  }
}

.page__body {
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}
