.page-list {
  display: none;

  &--footer {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 470px;
  }

  @media (min-width: $desktop-width) {
    gap: 20px;
    width: 600px;

    &--footer {
      gap: 0;
    }
  }
}

.main-nav__page--opened .page-list {
  position: absolute;
  top: 60px;
  left: 0;
  width: 320px;
  text-align: center;
}

.page-list__item {
  position: relative;
  border-bottom: 1px solid var(--base-secondary);

  &--footer {
    border-bottom: none;
  }

  &:first-child {
    border-top: 1px solid var(--base-secondary);

    @media (min-width: $tablet-width) {
      border: none;
    }
  }

  @media (min-width: $tablet-width) {
    border: none;
  }
}

@media (min-width: $tablet-width) {
  .page-list__item--current::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--base-primary);
  }
}


.page-list__link {
  &:active {
    color: var(--base-black);
  }

  @media (min-width: $tablet-width) {
    padding: 32px 20px;
  }
}

.page-list__item .link--footer {
  padding: 9px 0;
}

